version: '3.8'

services:
  dqn-base:
    build: .
    image: lunar-lander-deep-rl
  dqn-training:
    image: lunar-lander-deep-rl
    container_name: lunar-lander-train
    restart: "no"
    tty: true
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./models:/app/models
      - ./plots:/app/plots
      - ./logs:/app/logs
    command: python train.py
    
  dqn-evaluation:
    image: lunar-lander-deep-rl
    container_name: lunar-lander-eval
    restart: "no"
    tty: true
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./models:/app/models
      - ./videos:/app/videos
    command: xvfb-run -s "-screen 0 1024x768x24" python evaluate.py --model ./models/best_model.pth --episodes 3
    profiles:
      - evaluation