torch
gymnasium
# pybox2d # if gymnasium[box2d] is finicky
gymnasium[box2d]
numpy
matplotlib
tqdm
tensorboard
seaborn
ipykernel
pytest
pytest-cov
moviepy # for the recorded video storage
black==24.4.2
black[jupyter]
flake8==7.0.0